@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

body {
  min-width: 370px;
}

* {
  font-family: "Roboto";
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

header {
  padding: 2rem;
}

h1 {
  font-size: 25px;
  letter-spacing: 1.5px;
  padding: 10px;
  width: 100%;
  text-align: left;
}

button {
  cursor: pointer;
  font-size: 16px;
  padding: 0.75rem;
  letter-spacing: 0.75px;
  border-radius: 5px;
  border: 1px solid;
  transition: 0.3s ease-in-out;
  text-align: center;
  background-color: #f8f8f8;
  font-weight: 500;
}

button:hover {
  scale: 1.01;
  background-color: #fff;
  box-shadow: 5px 5px 10px 5px rgba(167, 167, 167, 0.75);
  -webkit-box-shadow: 5px 5px 10px 5px rgba(167, 167, 167, 0.75);
  -moz-box-shadow: 5px 5px 10px 5px rgba(167, 167, 167, 0.75);
}

.page_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1rem;
}

.navigation {
  display: flex;
  justify-content: end;
  list-style: none;
  gap: 2rem;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.navigation li a {
  transition: 0.3s ease-in-out;
}

.navigation li a:hover {
  color: #007aff;
}

.message {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #008000;
  font-weight: 500;
}

.message.success::before {
  font-family: "Font Awesome 5 Free";
  content: "\f058";
  font-size: 27px;
  margin-right: 10px;
}

.with_tax {
  margin-left: 5px;
}

.product_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 2rem;
}

.product_img_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.product_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product_data {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.product_price {
  font-size: 21px;
  color: red;
}
.with_tax {
  font-size: 1rem;
  color: #008000;
}

.product_description {
  text-align: justify;
}

@media (max-width: 767px) {
  .product_wrapper {
    grid-template-columns: 1fr;
  }

  .navigation {
    justify-content: center;
  }
}
